<style>
.intro__item {
  position: relative;
}

/* === Десктоп === */
.slider-caption {
  position: absolute;
  top: 0;
  left: 5%;
  transform: none;
  text-align: left;
  z-index: 10;
  padding: 40px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: none;
  box-sizing: border-box;
  /* Удалено: justify-content: space-between; */
}

.slider-caption__content {
  margin-bottom: 20px;
  width: 100%;
}

.slider-caption__title {
  font-size: 44px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
  word-break: break-word;
  line-height: 1.2;
}

.slider-caption__text {
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
  word-break: break-word;
  line-height: 1.5;
}

.slider-caption__btn {
  display: inline-block;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 300;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  white-space: normal;
  width: fit-content;
  max-width: 100%;
  margin-top: 0;
}

  .slider-caption__btn:hover {
  text-decoration:none;
  background: #3a3737;
  color: #fff;
  }

/* === Мобильная адаптация === */
@media (max-width: 767px) {
  
  /* Убираем боковые отступы у главного контейнера */
  .intro {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw !important;
    max-width: 100vw !important;
    overflow-x: hidden;
  }
  
  /* Убираем отступы у row */
  .intro .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  /* Убираем отступы у колонок */
  .intro [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .intro__swiper {
    position: relative;
    top: -22px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw !important;
    max-width: 100vw !important;
  }
  
  /* Убираем отступы у swiper контейнера */
  .swiper-container,
  .swiper-intro {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  
  /* Убираем отступы у слайдов */
  .swiper-slide {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  /* Убираем отступы у wrapper */
  .intro__item-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  
  /* Изображения на всю ширину */
  .intro__item-image,
  .intro__item-cover,
  picture {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .intro__item-image img,
  .intro__item-cover img {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .slider-caption {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    z-index: 10;
    box-sizing: border-box;
  }

  .slider-caption__content {
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom:0px;

  }

  .slider-caption__title {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    word-break: break-word;
    line-height: 1.3;
  }

  .slider-caption__text {
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    margin-bottom: 15px;
    word-break: break-word;
    line-height: 1.4;
  }

  .slider-caption__btn {
    margin: 0 0 20px 0;
    font-size: 15px;
    padding: 8px 15px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0;
    white-space: normal;
    max-width: 90%;
    width: fit-content;
    overflow: visible;
    text-overflow: unset;
  }
}

</style>

<!-- Intro :: Start -->
<div class="intro">
  <div class="row">
    {% if left_image_count >= 1 %}
    <div class="col-xl-12">
      <div class="intro__swiper{% if resizable %} intro__swiper--resizable{% endif %}">
        <div class="swiper-container swiper-intro js-swiper-intro"
             {% if slide_fade %}data-swiper-effect="{{ slide_fade }}"{% endif %}
             data-swiper-speed="{{ speed * 100 }}"
             {% if autoplay %}data-swiper-auto="{{ autoplay * 1000 }}"{% endif %}
             data-swiper-length="{{ left_image_count }}">

          <div class="swiper-wrapper">
            {% for i, banner1 in banners %}
            {% for banner in banner1 %}
            {% if banner['position'] == 1 %}
            <div class="swiper-slide">
              <div class="intro__item-wrapper">
                <picture class="intro__item-{{ banner['full'] ? 'cover' : 'image' }}">
                  {% if banner['image2'] %}
                  <source srcset="{{ banner['image2'] }}" media="(max-width: 767px)">
                  {% endif %}
                  <source srcset="{{ banner['image'] }}">
                  <img src="{{ banner['image'] }}" alt="{{ banner['title'] }}" width="{{ banner['width_pc'] }}" height="{{ banner['height_pc'] }}">
                </picture>

                <!-- Вынесенный блок с подписью -->
                <div class="slider-caption">
                  <div class="slider-caption__content">
                    {% if banner['title'] %}
                    <h2 class="slider-caption__title">{{ banner['title'] }}</h2>
                    {% endif %}
                    {% if banner['slider_text'] %}
                    <p class="slider-caption__text">{{ banner['slider_text'] }}</p>
                    {% endif %}
                  </div>
                  {% if banner['btn_text'] %}
                    <!-- DEBUG: link = "{{ banner['link'] }}" -->
                    {% if banner['link'] and banner['link'] != '' %}
                      <a href="{{ banner['link'] }}" class="slider-caption__btn">{{ banner['btn_text'] }}</a>
                    {% else %}
                      <button onclick="ajaxCheaper('index.php?route=extension/module/cheaper30&prod_id={{ product_id }}&module_id=70', this);" data-module_id="70" class="slider-caption__btn">{{ banner['btn_text'] }}</button>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>

          {% if left_image_count > 1 %}
          <div class="swiper-control">
            <button class="swiper-prev js-swiper-intro-prev">
              <svg class="icon-prev"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-prev"></use></svg>
            </button>
            <button class="swiper-next js-swiper-intro-next">
              <svg class="icon-next"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-next"></use></svg>
            </button>
          </div>

          <div class="swiper-pagination js-swiper-intro-pagination">
            {% for i, banner1 in banners %}
            {% for banner in banner1 %}
            {% if banner['position'] == 1 %}
            <div class="swiper-pagination-bullet"></div>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<!-- Intro :: End -->
